node_modules/
.netlify/
*.test.js
api/
tests/
netlify.toml
.github/
.editorconfig
.eslintignore
.eslintrc.json
.htmlhintrc
.gitattributes
.gitignore
.nvmrc
importmap.json
importmap.yaml
*.html
*.config.js
*.gz
*.tgz
*.log
*.bak
*.env
!*.map
!*.mjs
